@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&family=Manrope:wght@800&family=Orbitron:wght@500&family=Poppins&family=Rubik:wght@400;500;700&family=Short+Stack&family=Spartan:wght@700&family=Volkhov&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&family=Manrope:wght@800&family=Orbitron:wght@500&family=Poppins&family=Rubik:wght@400;500;700&family=Short+Stack&family=Spartan:wght@500;700&family=Volkhov&display=swap");
:root {
  --Poppins: 'Poppins', sans-serif;
  --Spartan: 'Spartan', sans-serif;
}

body {
  max-width: 1280px;
  font-family: var(--Poppins);
}

.wave-container {
  margin-left: -10px;
  margin-top: -10px;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.top .logo {
  position: absolute;
  top: 0;
}

.top .title {
  position: absolute;
  top: 5%;
  left: 32%;
  width: 450px;
}

.top .slogan {
  position: absolute;
  right: 3%;
  top: 5%;
  font-weight: 800;
}

.middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.middle .jamKerja-container {
  position: absolute;
  width: 220px;
  height: 250px;
  left: 7%;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
  background: #FFFFFF;
  -webkit-box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

.middle .jamKerja-container .timeIcon {
  margin-top: 15px;
  width: 75px;
}

.middle .jamKerja-container .jamKerja-second {
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.25);
}

.middle .mainImage {
  position: absolute;
  top: 30%;
  left: 32%;
}

.middle .kontak-container {
  position: absolute;
  width: 220px;
  right: 7%;
  top: 18%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
  background: #FFFFFF;
  -webkit-box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

.middle .kontak-container .instagramIcon {
  margin-top: 15px;
  width: 75px;
}

.middle .kontak-container .kontak-first {
  text-align: center;
}

.middle .kontak-container .kontak-second {
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.25);
}

.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 38%;
  top: 95%;
  font-weight: 500;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom .bottom-text {
  width: 300px;
  margin-bottom: 20px;
}

.bottom .orderNow {
  background: #F57B51;
  border-radius: 50px;
  border: 0;
  width: 175px;
  padding: 10px 20px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  border: 2px solid #F57B51;
}

.bottom .orderNow:hover {
  background-color: white;
  color: black;
}

.bottom-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 130%;
  left: 18%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-two .watchThis {
  margin-bottom: 15px;
  font-weight: 900;
  font-size: 30px;
}

.bottom-two .video {
  margin-bottom: 40px;
}

.wave-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 200px;
  padding-top: 100px;
  background: #f57b51;
  margin-right: -10px;
}

.curve {
  position: absolute;
  height: 250px;
  width: 1250px;
  bottom: 0;
  text-align: center;
}

.curve::before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 690px;
  height: 100%;
  -webkit-transform: translate(85%, 60%);
          transform: translate(85%, 60%);
  background-color: white;
}

.curve::after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background-color: #f57b51;
  -webkit-transform: translate(-4%, 40%);
          transform: translate(-4%, 40%);
  z-index: -1;
}

.small-device {
  display: none;
}

@media only screen and (max-width: 400px) {
  .container {
    display: none;
  }
  .small-device {
    margin-top: 30px;
    text-align: center;
    display: block;
    position: absolute;
    font-family: var(--Spartan);
  }
  .small-device .info1 {
    margin-top: 30px;
  }
  .small-device .info2 {
    margin-top: 30px;
  }
  .small-device .info3 {
    margin-top: 50px;
  }
}
/*# sourceMappingURL=style.css.map */